# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.python-version

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables
.env

# Database files
*.db

# PyCharm / VS Code
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Model / data files
Dataset/
best.pt

# Logs
*.log

# Byte-compiled / cached files
*.pyc
*.pyo
*.pyd

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Other
*.egg-info/
*.egg
.dist-info/
